.login_container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://img.freepik.com/free-photo/finance-elements-frame_23-2148080960.jpg?w=740&t=st=1685378817~exp=1685379417~hmac=b9b0ed8b9875621324dd97fbcb22a4aabf34633d335e00307b3d791a817f4040");
	background-repeat: no-repeat;
	background-size: cover;
}

.login_form_container {
	width: 100%;
	max-width: 900px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
	text-align: center;
}

.input {
	outline: none;
	border: none;
	width: 90%;
	max-width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 90%;
	max-width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #6C757D;
	color: white;
	margin: 10px;
}

/* Media Queries */

@media (max-width: 768px) {
	.login_form_container {
		flex-direction: column;
		height: auto;
	}

	@media only screen and (max-width: 768px) {
		.signup_form_container {
		  flex-direction: column;
		  height: auto;
		}
	  
		.left {
		  border-radius: 10px 10px 0 0;
		  border-bottom-left-radius: 0;
		}
	  
		.right {
		  border-radius: 0 0 10px 10px;
		  border-top-right-radius: 0;
		}
	  }
	  

	.input,
	.error_msg {
		width: 80%;
		max-width: 800%;
	}
}

@media only screen and (max-width: 480px) {
	.input,
	.error_msg {
	  width: 80%;
	  max-width: 80%;
	}
  
	
	.green_btn {
	  width: 80%;
	  max-width: 80%;
	}
	.white_btn{
		width: 160%;
		max-width: 160%;
		
	}
  }
  